<form action="">
  <RadioButtons 
    @title="City Preference"
    @cityNames={{this.cityNames}}
    @name="city-preference"
  />
  
</form>

<ButtonGeneric 
    @type="submit"
    @accessibleName="Click Me"
    />